.aside-container {
    display: flex;
    flex-direction: column;
    background-color: var(--aside-background);
    height: auto;
    gap: 2rem;
}

.aside-user {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1rem;
}

.aside-user:hover {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--hover);
}

.aside-user img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.aside-user h2 {
    font-size: 1rem;
    color: #333;
    margin-left: 1rem;
}