.aside-container {
    display: flex;
    flex-direction: column;
    background-color: var(--aside-background);
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.aside-user {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: auto;
    width: 95%;
    padding: .5rem;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.aside-user:hover {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--hover);
    backdrop-filter: blur(5px);
}

.aside-user img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.aside-user h2 {
    font-size: 1rem;
    color: #333;
    margin-left: 1rem;
}