/* Horizontal layout for the home card logo and text */

.home-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.home-header {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.home-card-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
    border: 1px solid #222;
}

.logo-container {
    flex-shrink: 0;
    width: 180px;
    /* Making the logo container smaller */
}

.home-logo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.home-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border: 1px solid #8e2020;
}

.home-heading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2.2rem;
    border: 1px solid #222;
}

.home-paragraph {
    font-size: 0.7rem;
    font-weight: lighter;
    border: 1px solid #222;
}

.home-paragraph-two {
    border: 1px solid #222;
}



/* Layout for home content cards */

.interactive-content-container {
    background-color: rgb(220, 220, 196);
}

.main-content-cards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
}

/* Class in javascript */
.user-card {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    margin-bottom: 10px;
}

.user-card,
.post-preview {
    border-radius: 10px;
    background-color: #F9F9F4;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
}

.post-preview {
    padding: 10px;
    margin-top: 15px;
}

.user-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.user-info {
    text-align: center;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-info h3 {
    margin: 8px auto;
}

.user-info p {
    color: #333;
    font-size: 14px;
}

.user-info a {
    color: #222;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 10px;
}

.user-info a:hover {
    text-decoration: underline;
    border: 1px solid #444;
    padding: 10px;
}

.home-card div img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}