.home-page-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

.home-card {
    grid-column-start: 2;
    grid-row-start: 2;
    align-items: center;
    justify-content: center;
}


.main-content-cards {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

/*Skapa klass i javascript*/
.user-card {
    width: calc(25% - 30px);
    height: 200px;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: bisque;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.user-img {
    text-align: center;
    margin-bottom: 15px;
}

.user-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    text-align: center;
}

.user-info p {
    margin: 5px 0;
    color: #333;
}

.user-info a {
    color: #222;
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: underline;
}

.home-card div img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}